body {
   background-color: cornflowerblue;
}
.upperPage{
   width: 100vw;
   height: 30vh;
   background-color: cornflowerblue;
   border-bottom : 5px white solid
}
a {
   text-decoration: none;
}

.message {
   position: absolute;
   left: 30%;
}

.searchBAr {
   width: 50vw;
   margin: 10px auto;
}
.searchBAr input {
   width: 50%;
}

.filterBar {
   width: 30vw;
   margin: 10px auto;
}
.filterBar input {
   width: 50%;
}
.newUserSection {
   width: 20%;
   height: 40%;
   margin-left: 5%;
}
.newUserSection input {
   width: 90%;
}

.newUserSection button{
  float: right;
  margin-top: 4%;

}
